.cvFondo{
    background-color: black;
}
.cvMain{
    max-width: 100%;
    max-height: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;    
    background-attachment: fixed;
    background-position: center 0;
    background-size: cover;
    background-repeat: repeat; 
}
.init{
    height: 140vh; 
    align-content: center;
    justify-content: center;
}
.formacion, .info{
    height: 170vh; 
    align-content: center;
    justify-content: center;
}
.cursos, .web{
    height: 300vh;  
    align-content: center;
    justify-content: center;
}
.experiencia, .competencias{
    height: 400vh; 
    align-content: center;
    justify-content: center;
}

.name{
    font-family: Tahoma;
    font-size: 3rem;
    color: steelblue;
}
.objetive{
    font-family: Verdana;
    font-size: 2rem;
    color: orange;
}
.foto{
    width: 60%;
    height: 18%;
}
.descarga{
    display: inline-block;
    border: 2px solid #0075f6;
    margin-top: 10px;
    padding: 2px 8px;
    text-transform: uppercase;
}

.descarga{
    text-decoration: none;
    color: #0075f6;
}
.titleFormacion, .titleCursos{
    font-family: Verdana;
    font-size: 2rem;
    color: blueviolet;
}
.textFormacion, .textCursos{
    font-family: Arial;
    font-size: 25px;
    color: orangered;
    background-color: black;
}

#titleCompetencias{
    font-family: sans-serif;
    font-size: 35px;
    color:greenyellow;
}
#titleContacto{
    font-family: serif;
    font-size: 35px;
    color: rgb(15, 228, 228);
}

.contact{
    background-image: url('../img/prog1.jpg');
    height: 70vh;
}

.container-contacto{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border: 1px solid white;
    border-radius: 2%;
    margin: auto;
}
.container-contacto label{
    color: white;
}
.piePagina{
    background-color: black;
    font-family: 'Arial';    
    font-size: x-large;
    color: darkblue;
    margin-top: 1vh;
    max-width: 100%;
    max-height: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;    
}
.piePaginaContact{
    background-color: black;
    font-family: 'Arial';    
    font-size: x-large;
    color: darkblue;
    margin-top: 1vh;
    max-width: 100%;
    max-height: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;  
}
.menu{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
}
.menu ul{
    list-style: none;
}
.menu ul li a {
    display: inline-block;
    color: #00FF00;
    /*background: 6A6562; #454545;*/
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition:all 500ms ease; 
    transition: all 500ms ease;
}
.menu ul li a:hover{
    padding: 15px 40px;
    color: orange;
    /*background: #000;*/
}

.titlexperience{
    color: #DFFF00;
}

.columna1, .columna2, .columna3, .columna1Formacion, .columna2Formacion, 
.columna1Formacion, .columna2Formacion, .columna3Formacion,
.columna1Cursos, .columna2Cursos, .columna3Cursos,
.columna1Experiencia, .columna2Experiencia, .columna3Experiencia,
.columna1Competencias, .columna2Competencias, .columna3Competencias, .columna4Competencias,
.columna1Web, .columna2Web, .columna3Web,
.columna1Info, .columna2Info, .columna3Info{
    margin-top: 4%;
}


/* MEDIAS QUERIES */

@media (min-width: 400px) {
    .inicio, .columna1, .columna2, .columna3, 
    .formacion, .columna1Formacion, .columna2Formacion, .columna3Formacion,
    .cursos, .columna1Cursos, .columna2Cursos, .columna3Cursos, 
    .experiencia, .columna1Experiencia, .columna2Experiencia, .columna3Experiencia,
    .competencias, .columna1Competencias, .columna2Competencias, .columna3Competencias, .columna4Competencias,
    .web, .columna1Web, .columna2Web, .columna3Web,
    .info, .columna1Info, .columna2Info, .columna3Info,
    .piePagina{
        max-width: 350px;
    }
  }

@media (min-width: 450px) {
    .menu,
    .inicio, .columna1, .columna2, .columna3, 
    .formacion, .columna1Formacion, .columna2Formacion, .columna3Formacion,
    .cursos, .columna1Cursos, .columna2Cursos, .columna3Cursos, 
    .experiencia, .columna1Experiencia, .columna2Experiencia, .columna3Experiencia,
    .competencias, .columna1Competencias, .columna2Competencias, .columna3Competencias, .columna4Competencias,
    .web, .columna1Web, .columna2Web, .columna3Web,
    .info, .columna1Info, .columna2Info, .columna3Info,
    .piePagina{
        max-width: 400px;
    }
  }

@media (min-width: 500px) {
    .menu,
    .inicio, .columna1, .columna2, .columna3, 
    .formacion, .columna1Formacion, .columna2Formacion, .columna3Formacion,
    .cursos, .columna1Cursos, .columna2Cursos, .columna3Cursos, 
    .experiencia, .columna1Experiencia, .columna2Experiencia, .columna3Experiencia,
    .competencias, .columna1Competencias, .columna2Competencias, .columna3Competencias, .columna4Competencias,
    .web, .columna1Web, .columna2Web, .columna3Web,
    .info, .columna1Info, .columna2Info, .columna3Info,
    .piePagina{
        max-width: 450px;
    }
  }

@media (min-width: 550px) {
    .menu,
    .inicio, .columna1, .columna2, .columna3, 
    .formacion, .columna1Formacion, .columna2Formacion, .columna3Formacion,
    .cursos, .columna1Cursos, .columna2Cursos, .columna3Cursos, 
    .experiencia, .columna1Experiencia, .columna2Experiencia, .columna3Experiencia,
    .competencias, .columna1Competencias, .columna2Competencias, .columna3Competencias, .columna4Competencias,
    .web, .columna1Web, .columna2Web, .columna3Web,
    .info, .columna1Info, .columna2Info, .columna3Info,
    .piePagina{
        max-width: 500px;
    }
  }

@media (min-width: 620px) {    
    .menu, 
    .inicio, .columna1, .columna2, .columna3, 
    .formacion, .columna1Formacion, .columna2Formacion, .columna3Formacion,
    .cursos, .columna1Cursos, .columna2Cursos, .columna3Cursos, 
    .experiencia, .columna1Experiencia, .columna2Experiencia, .columna3Experiencia,
    .competencias, .columna1Competencias, .columna2Competencias, .columna3Competencias, .columna4Competencias,
    .web, .columna1Web, .columna2Web, .columna3Web,
    .info, .columna1Info, .columna2Info, .columna3Info,
    .piePagina{
        max-width: 580px;
    }
  }
  
  @media (min-width: 768px) {
    .menu, 
    .inicio, .columna1, .columna2, .columna3, 
    .formacion, .columna1Formacion, .columna2Formacion, .columna3Formacion,
    .cursos, .columna1Cursos, .columna2Cursos, .columna3Cursos, 
    .experiencia, .columna1Experiencia, .columna2Experiencia, .columna3Experiencia,
    .competencias, .columna1Competencias, .columna2Competencias, .columna3Competencias, .columna4Competencias,
    .web, .columna1Web, .columna2Web, .columna3Web,
    .info, .columna1Info, .columna2Info, .columna3Info,
    .piePagina{
        max-width: 720px;
    }
  }  
  
  @media (min-width: 990px) {
    .menu, 
    .inicio, .columna1, .columna2, .columna3, 
    .formacion, .columna1Formacion, .columna2Formacion, .columna3Formacion,
    .cursos, .columna1Cursos, .columna2Cursos, .columna3Cursos, 
    .experiencia, .columna1Experiencia, .columna2Experiencia, .columna3Experiencia,
    .competencias, .columna1Competencias, .columna2Competencias, .columna3Competencias, .columna4Competencias,
    .web, .columna1Web, .columna2Web, .columna3Web,
    .info, .columna1Info, .columna2Info, .columna3Info,
    .piePagina{
        max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .menu, 
    .inicio, .columna1, .columna2, .columna3, 
    .formacion, .columna1Formacion, .columna2Formacion, .columna3Formacion,
    .cursos, .columna1Cursos, .columna2Cursos, .columna3Cursos, 
    .experiencia, .columna1Experiencia, .columna2Experiencia, .columna3Experiencia,
    .competencias, .columna1Competencias, .columna2Competencias, .columna3Competencias, .columna4Competencias,
    .web, .columna1Web, .columna2Web, .columna3Web,
    .info, .columna1Info, .columna2Info, .columna3Info,
    .piePagina{
        max-width: 100%;
    }
  }
